*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to right, #211f40, #fcfbfd);
    min-height: 100vh;
    padding: 40px;
}

.title{
    text-align: center;
    color: rgb(29, 10, 134);
    margin-bottom: 40px;
    font-size: 40px;
}

.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height:200px ;
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.card:hover{
    background-color: rgb(168, 173, 231);
    color: white;
    transform: translateY(-10px);
}


.card h2{
    color: #291c74;
    display: flexbox;
    display: block;
}

.card p{
    color: #555;
    margin: 2%;

}

.btn{
    display: inline-block;
    text-decoration: none;
    background: #150a7e;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
    margin-top: 3%;
}

.btn:hover{
    background: #7e65e2;
     color: white;
    transform: translateY(-20px);
}
