@media (min-width:400px){
    
   .main{ 
        display: block;
   }
    



    .sidebar {
       min-width:50%;
        padding: 5px;
    }

    .radio {
        flex-direction: block;
    }

    .btnradio {
        text-align: center;
        padding: 1%;
        width: 20px;
    }

    .img {
       min-width:30px;
    }
    .form{
        min-width: 30px;
        padding: 1%;
        left:5px ;
        display: block;

    }
    .btn{
        width: 30px;
        margin-left: 1%;
    }

}